{% extends "layout.html" %}
{% block content %}
    <h1>{{ current_user.name }}</h1>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <p>On this Web-App you can compare the Gross Domestic Product of all the countries in the world!</p>
            <p>By clicking the links in the navbar you can see different kinds og statistics</p>
            <p>Enjoy!</p>
            <img src="{{url_for('static', filename='world_image.png')}}" id="world_img"/>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
